# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native build folders
ios/
android/

# Environment variables
.env
.env.local
.env.production

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# IDE
.idea/
.vscode/
*.swp
*.swo

# Test
coverage/

# Build
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Metro
.metro-health-check*

# Temporary files
*.log
tmp/
